<div class="flex h-screen justify-center items-center flex-col">
  <div
    class="w-full h-screen bg-[url('https://www.ksc-fliesenarbeiten.de/media/config/theme/layout/include/slider/slider_01.jpg')] bg-cover bg-center">
    <div class="w-full h-full flex  justify-center items-center backdrop-brightness-50">
      <div class="text-white text-4xl w-1/2 text-center">
        <div class="mx-auto max-w-3xl py-16 sm:py-24 lg:py-32">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div
              class="relative rounded-full py-1 px-3 text-sm leading-6 text-zinc-200 ring-1 ring-zinc-200/40 hover:ring-zinc-200/20 dark:text-zinc-200 dark:ring-zinc-300/10 dark:hover:ring-zinc-300/20">
              Unsere erfolgreich abgeschlossenen Projekte.
              <a href="#" class="font-semibold text-red-500 dark:text-red-600">
                <span class="absolute inset-0" aria-hidden="true"></span>Erfahre mehr
                <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-200 sm:text-6xl dark:text-zinc-50">Innenausbau in der
              Schweiz</h1>
            <p class="mt-6 text-lg leading-8 text-zinc-200 dark:text-zinc-200">
              Als erfahrene Trockenbauer und Plattenleger sind wir von Ilazi Innenausbau GmbH Ihr kompetenter Partner
              für hochwertige Wand- und Deckenverkleidung, Dämmung und Akustiklösungen in der Schweiz. Mit unserem
              fachkundigen Team garantieren wir Ihnen eine professionelle und termingerechte Umsetzung Ihrer Projekte.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="#contact"
                class="bg-red-600 px-12 py-4 text-sm md:text-lg lg:text-xl font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                Jetzt Angebot anfordern
              </a>
              <a href="#" class="text-sm font-semibold leading-6 text-zinc-200 dark:text-zinc-50">
                Erfahre mehr <span aria-hidden="true">→</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
