<div class="flex justify-between items-center sticky top-0 w-full z-10 px-6 py-4"
  [ngClass]="{'bg-white shadow-md dark:bg-neutral-900': scrolled}" [class.hidden]="isMenuOpened">
  <div class="flex items-center justify-between">
    <a routerLink="/">
      <span class="sr-only">Ilazi Innenausbau GmbH</span>
      <img class="h-16 md:h-20" [src]="logo" alt="Ilazi Innenausbau GmbH">
    </a>
  </div>
  <nav class="flex justify-between items-center gap-8" aria-label="Global">
    <div class="hidden lg:flex lg:gap-x-12 lg:justify-center">
      <ng-container *ngFor="let item of mainMenuItems">
        <a [routerLink]="item.href" class="text-sm font-semibold leading-6 text-zinc-900 dark:text-zinc-50">{{item.title}}</a>
      </ng-container>
    </div>
    <app-theme-menu class="justify-end" (changed)="onChangeTheme()"></app-theme-menu>
    <div class="flex justify-end lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-zinc-700 dark:text-zinc-50"
      (click)="isMenuOpened = !isMenuOpened">
      <span class="sr-only">Open menu</span>
        <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
  </nav>
</div>

<!-- Mobile menu, show/hide based on menu open state. -->
<div role="dialog" aria-modal="true">
  <div focus="true" class="fixed hidden inset-0 z-10 overflow-y-auto bg-white px-6 py-4 lg:hidden dark:bg-neutral-900"
    [class.hidden]="!isMenuOpened">
    <div class="flex items-center justify-between">
      <a routerLink="/">
        <span class="sr-only">Ilazi Innenausbau GmbH</span>
        <img class="h-16 md:h-20" [src]="logo" alt="Ilazi Innenausbau GmbH">
      </a>
      <button type="button" class="-m-2.5 rounded-md p-2.5 text-zinc-700 dark:text-zinc-50" (click)="isMenuOpened = !isMenuOpened">
        <span class="sr-only">Close menu</span>
        <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-zinc-500/10">
        <div class="space-y-2 py-6">
          <ng-container *ngFor="let item of mainMenuItems">
            <a [routerLink]="item.href"
              class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-zinc-900 hover:bg-zinc-400/10 dark:text-zinc-50">{{item.title}}</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
