<div class="bg-red-900 text-white py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-5xl text-center px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
      Unsere Partner
    </h2>
    <p class="mt-10 text-lg leading-8">
      Unsere Partner sind ein wichtiger Teil unseres Erfolgs. Wir arbeiten eng
      mit ihnen zusammen, um unseren Kunden die besten Lösungen und
      Dienstleistungen zu bieten. Wir sind stolz darauf, mit diesen renommierten
      Unternehmen zusammenzuarbeiten und freuen uns auf eine weiterhin
      erfolgreiche Zusammenarbeit.
    </p>
  </div>
</div>
