<div id="imprint" class="container mx-auto px-6 py-12 dark:text-zinc-50">
  <h1 class="text-2xl font-bold mb-4">Impressum</h1>

  <h2 class="text-lg font-bold mb-2">Angaben gemäß § 5 TMG:</h2>
  <p class="mb-2">Ilazi Innenausbau GmbH</p>
  <p class="mb-2">Boulevard Lilienthal 40</p>
  <p class="mb-2">8152 Opfikon Glattpark</p>

  <h2 class="text-lg font-bold mb-2">Kontakt:</h2>
  <p class="mb-2">Telefon: 01234-567890</p>
  <p class="mb-2">E-Mail: info&#64;ilazi-ausbau.ch</p>

  <h2 class="text-lg font-bold mb-2">
    Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
  </h2>
  <p class="mb-2">Ilazi Innenausbau GmbH</p>

  <h2 class="text-lg font-bold mb-2">Haftungsausschluss:</h2>
  <p class="mb-2">
    Der Betreiber dieser Website ist stets bemüht, die Inhalte auf dem neuesten
    Stand zu halten und korrekt darzustellen. Dennoch kann keine Gewähr für die
    Aktualität, Richtigkeit, Vollständigkeit oder Qualität der bereitgestellten
    Informationen übernommen werden.
  </p>

  <p class="mb-2">
    Haftungsansprüche gegen den Betreiber dieser Website, welche sich auf
    Schäden materieller oder immaterieller Art beziehen, die durch die Nutzung
    oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung
    fehlerhafter und unvollständiger Informationen verursacht wurden, sind
    grundsätzlich ausgeschlossen, sofern seitens des Betreibers kein
    nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
  </p>

  <p class="mb-2">
    Alle Angebote sind freibleibend und unverbindlich. Der Betreiber dieser
    Website behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
    Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen
    oder die Veröffentlichung zeitweise oder endgültig einzustellen.
  </p>

  <p class="mb-2">
    Für die Inhalte externer Links übernimmt der Betreiber dieser Website trotz
    sorgfältiger inhaltlicher Kontrolle keine Haftung. Für den Inhalt der
    verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
  </p>

  <p class="mb-2">
    Die durch den Betreiber dieser Website erstellten Inhalte und Werke auf
    diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
    Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
    des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen
    Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
    privaten, nicht kommerziellen Gebrauch gestattet.
  </p>

  <p class="mb-2">
    Soweit die Inhalte auf dieser Website nicht vom Betreiber erstellt wurden,
    werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
    Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
    entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
    derartige Inhalte umgehend entfernen.
  </p>

  <h2 class="text-lg font-bold mb-2">Datenschutz:</h2>
  <p class="mb-2">
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
    Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (z.B. Name,
    Anschrift oder E-Mail-Adresse) erhoben werden, erfolgt dies, soweit möglich,
    stets auf freiwilliger Basis.
  </p>
  <p class="mb-2">
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der
    Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
    Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>
  <p class="mb-2">
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
    Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
    angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
    widersprochen. Der Betreiber der Seiten behält sich ausdrücklich rechtliche
    Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa
    durch Spam-Mails, vor.
  </p>
  <p class="mb-2">
    Weitere Informationen zum Thema Datenschutz entnehmen Sie bitte unserer
    Datenschutzerklärung.
  </p>
</div>
