<div id="privacy" class="container mx-auto px-6 py-12 dark:text-zinc-50">
  <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>

  <ol class="list-inside">
    <li class="mb-4" *ngFor="let section of privacySections; index as i">
      <h2 class="text-2xl font-bold mb-2">{{ section.title }}</h2>

      <!-- Section subtitle if exists -->
      <h3 *ngIf="section.subtitle" class="text-xl font-semibold mb-2">
        {{ section.subtitle }}
      </h3>

      <!-- Section content -->
      <div *ngFor="let content of section.content">
        <p class="mb-4" [innerHTML]="content"></p>
      </div>

      <!-- Subsections -->
      <div *ngFor="let subsection of section.subsections">
        <h3 class="text-xl font-semibold mb-2">{{ subsection.title }}</h3>
        <div *ngFor="let content of subsection.content">
          <p class="mb-4" [innerHTML]="content"></p>
        </div>
        <!-- Subsection link if exists -->
        <p *ngIf="subsection.link" class="mb-4">
          <a
            [href]="subsection.link.url"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-600 hover:text-blue-800 underline"
          >
            {{ subsection.link.text }}
          </a>
        </p>
      </div>
    </li>
  </ol>

  <!-- Contact Information Section -->
  <div class="mt-8 mb-4">
    <h3 class="text-xl font-semibold mb-2">Verantwortliche Stelle</h3>
    <p class="mb-2">{{ contactInfo.company }}</p>
    <p class="mb-2">{{ contactInfo.name }}</p>
    <div *ngFor="let line of contactInfo.address">
      <p class="mb-2">{{ line }}</p>
    </div>
    <p class="mb-2">Telefon: {{ contactInfo.phone }}</p>
    <p class="mb-4">
      <a
        [href]="'mailto:' + contactInfo.email"
        class="text-blue-600 hover:text-blue-800 underline"
      >
        E-Mail: {{ contactInfo.email }}
      </a>
    </p>
  </div>

  <!-- Source Information -->
  <div class="mt-8">
    <p class="mb-4">{{ sourceInfo.text }}</p>
    <p class="mb-4">
      <a
        [href]="sourceInfo.link.url"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 hover:text-blue-800 underline"
      >
        {{ sourceInfo.link.text }}
      </a>
    </p>
  </div>
</div>
